In [1]:
import pandas as pd

In [2]:
pd.__version__

'1.5.3'

In [4]:
df = pd.read_parquet("yellow_tripdata_2024-01.parquet")

# Save it as a CSV
df.to_csv("yellow_tripdata_2024-01.csv", index=False)

print("File converted to CSV: yellow_tripdata_2024-01.csv")

File converted to CSV: yellow_tripdata_2024-01.csv

The CSV file is very big and Pandas may not be able to handle it properly if the whole thing doesn't fit in RAM. We will only import 100 rows for now.

In [39]:
df = pd.read_csv("yellow_tripdata_2024-01.csv", nrows=100)
df

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,store_and_fwd_flag,PULocationID,DOLocationID,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge,Airport_fee
0,2.0,2024-01-01 00:57:55,2024-01-01 01:17:43,1.0,1.72,1.0,N,186.0,79.0,2.0,17.7,1.0,0.5,0.00,0.00,1.0,22.70,2.5,0.00
1,1.0,2024-01-01 00:03:00,2024-01-01 00:09:36,1.0,1.80,1.0,N,140.0,236.0,1.0,10.0,3.5,0.5,3.75,0.00,1.0,18.75,2.5,0.00
2,1.0,2024-01-01 00:17:06,2024-01-01 00:35:01,1.0,4.70,1.0,N,236.0,79.0,1.0,23.3,3.5,0.5,3.00,0.00,1.0,31.30,2.5,0.00
3,1.0,2024-01-01 00:36:38,2024-01-01 00:44:56,1.0,1.40,1.0,N,79.0,211.0,1.0,10.0,3.5,0.5,2.00,0.00,1.0,17.00,2.5,0.00
4,1.0,2024-01-01 00:46:51,2024-01-01 00:52:57,1.0,0.80,1.0,N,211.0,148.0,1.0,7.9,3.5,0.5,3.20,0.00,1.0,16.10,2.5,0.00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,2.0,2024-01-01 00:54:16,2024-01-01 01:27:40,1.0,13.74,1.0,N,239.0,95.0,1.0,56.9,1.0,0.5,13.77,6.94,1.0,82.61,2.5,0.00
96,2.0,2024-01-01 00:13:58,2024-01-01 00:33:39,1.0,4.20,1.0,N,148.0,237.0,1.0,21.9,1.0,0.5,5.38,0.00,1.0,32.28,2.5,0.00
97,2.0,2024-01-01 00:35:53,2024-01-01 00:47:59,1.0,1.14,1.0,N,237.0,233.0,1.0,11.4,1.0,0.5,3.28,0.00,1.0,19.68,2.5,0.00
98,2.0,2024-01-01 00:50:28,2024-01-01 01:38:39,1.0,20.34,1.0,N,132.0,26.0,1.0,80.0,1.0,0.5,2.00,0.00,1.0,86.25,0.0,1.75
99,2.0,2024-01-01 00:18:24,2024-01-01 00:30:39,1.0,2.16,1.0,N,249.0,232.0,4.0,-13.5,-1.0,-0.5,0.00,0.00,-1.0,-18.50,-2.5,0.00

We will now create the ***schema*** for the database. The _schema_ is the structure of the database; in this case it describes the columns of our table. Pandas can output the SQL ***DDL*** (Data definition language) instructions necessary to create the schema.

In [40]:
# We need to provide a name for the table; we will use 'yellow_taxi_data'
# convert the data frame to a ddl (data definition language, a part of sql that is used for specifying schemas)

print(pd.io.sql.get_schema(df, name="yellow_taxi_data"))

CREATE TABLE "yellow_taxi_data" (
"VendorID" REAL,
  "tpep_pickup_datetime" TEXT,
  "tpep_dropoff_datetime" TEXT,
  "passenger_count" REAL,
  "trip_distance" REAL,
  "RatecodeID" REAL,
  "store_and_fwd_flag" TEXT,
  "PULocationID" REAL,
  "DOLocationID" REAL,
  "payment_type" REAL,
  "fare_amount" REAL,
  "extra" REAL,
  "mta_tax" REAL,
  "tip_amount" REAL,
  "tolls_amount" REAL,
  "improvement_surcharge" REAL,
  "total_amount" REAL,
  "congestion_surcharge" REAL,
  "Airport_fee" REAL
)

Note that this only outputs the instructions, it hasn't actually created the table in the database yet.

Note that `tpep_pickup_datetime` and `tpep_dropoff_datetime` are text fields even though they should be timestamps. Let's change that.

In [41]:
# use tab for auto-completition
df.tpep_pickup_datetime = pd.to_datetime(df.tpep_pickup_datetime)
df.tpep_dropoff_datetime = pd.to_datetime(df.tpep_dropoff_datetime)

print(pd.io.sql.get_schema(df, name="yellow_taxi_data"))

CREATE TABLE "yellow_taxi_data" (
"VendorID" REAL,
  "tpep_pickup_datetime" TIMESTAMP,
  "tpep_dropoff_datetime" TIMESTAMP,
  "passenger_count" REAL,
  "trip_distance" REAL,
  "RatecodeID" REAL,
  "store_and_fwd_flag" TEXT,
  "PULocationID" REAL,
  "DOLocationID" REAL,
  "payment_type" REAL,
  "fare_amount" REAL,
  "extra" REAL,
  "mta_tax" REAL,
  "tip_amount" REAL,
  "tolls_amount" REAL,
  "improvement_surcharge" REAL,
  "total_amount" REAL,
  "congestion_surcharge" REAL,
  "Airport_fee" REAL
)

Even though we have the DDL instructions, we still need specific instructions for Postgres to connect to it and create the table. We will use `sqlalchemy` for this.

In [18]:
# create a connection to postgres, generate a statement that works for postgres 
from sqlalchemy import create_engine

An ***engine*** specifies the database details in a URI. The structure of the URI is:

`database(the type of database)://user:password@host:port/database_name`

In [21]:
engine = create_engine("postgresql://root:root@localhost:5432/ny_taxi")

In [22]:
# run this cell when the Postgres Docker container is running
engine.connect()

In [31]:
# we can now use our engine to get the specific output for Postgres

print(pd.io.sql.get_schema(df, name="yellow_taxi_data", con=engine))

CREATE TABLE yellow_taxi_data (
	"VendorID" FLOAT(53),
	tpep_pickup_datetime TIMESTAMP WITHOUT TIME ZONE,
	tpep_dropoff_datetime TIMESTAMP WITHOUT TIME ZONE,
	passenger_count FLOAT(53),
	trip_distance FLOAT(53),
	"RatecodeID" FLOAT(53),
	store_and_fwd_flag TEXT,
	"PULocationID" FLOAT(53),
	"DOLocationID" FLOAT(53),
	payment_type FLOAT(53),
	fare_amount FLOAT(53),
	extra FLOAT(53),
	mta_tax FLOAT(53),
	tip_amount FLOAT(53),
	tolls_amount FLOAT(53),
	improvement_surcharge FLOAT(53),
	total_amount FLOAT(53),
	congestion_surcharge FLOAT(53),
	"Airport_fee" FLOAT(53)
)

We will now create an ***iterator*** that will allow us to read the CSV file in chunks and send them to the database. Otherwise, we may run into problems trying to send too much data at once.

In [24]:
# chunk this csv file into smaller batches
# read them one chunk at a time and then for each chunk we will put the chunk to database
df_iter = pd.read_csv("yellow_tripdata_2024-01.csv", iterator=True, chunksize=100000)

We can use the `next()` function to get the chunks using the iterator.

In [25]:
df = next(df_iter)

In [27]:
len(df)

100000

This is a brand new dataframe, so we need to convert the time columns to timestamp format.

In [28]:
df.tpep_pickup_datetime = pd.to_datetime(df.tpep_pickup_datetime)
df.tpep_dropoff_datetime = pd.to_datetime(df.tpep_dropoff_datetime)

We will now finally create the table in the database. With `df.head(n=0)` we can get the name of the columns only, without any additional data. We will use it to generate a SQL instruction to generate the table.

In [30]:
df.head(n=0)

Empty DataFrame
Columns: [VendorID, tpep_pickup_datetime, tpep_dropoff_datetime, passenger_count, trip_distance, RatecodeID, store_and_fwd_flag, PULocationID, DOLocationID, payment_type, fare_amount, extra, mta_tax, tip_amount, tolls_amount, improvement_surcharge, total_amount, congestion_surcharge, Airport_fee]
Index: []

In [33]:
# create a table and then insert all the rows:
# df.to_sql(name="yellow_taxi_data", con=engine, if_exists="replace")

# only create table without inserting anything:
df.head(n=0).to_sql(name="yellow_taxi_data", con=engine, if_exists="replace")
# we need to provide the table name, the connection and what to do if the table already exists
# we choose to replace everything in case you had already created something by accident before.

0

You can now use `pgcli -h localhost -p 5432 -u root -d ny_taxi` on a separate terminal to look at the database:

* `\dt` for looking at available tables.
* `\d yellow_taxi_data` for describing the new table.

Let's include our current chunk to our database and time how long it takes.

In [34]:
%time df.to_sql(name="yellow_taxi_data", con=engine, if_exists="append")

CPU times: user 8.02 s, sys: 830 ms, total: 8.85 s
Wall time: 21.8 s

1000

Back on the terminal running `pgcli`, we can check how many lines were to the database with:

```sql
SELECT count(1) FROM yellow_taxi_data;
```

You should see 100,000 lines.

Let's write a loop to write all chunks to the database. Use the terminal with `pgcli` to check the database after the code finishes running.

In [36]:
from time import time

In [37]:
while True:
    t_start = time()
    
    df = next(df_iter)
    
    df.tpep_pickup_datetime = pd.to_datetime(df.tpep_pickup_datetime)
    df.tpep_dropoff_datetime = pd.to_datetime(df.tpep_dropoff_datetime)
    
    df.to_sql(name="yellow_taxi_data", con=engine, if_exists="append")
    
    t_end = time()
    
    print("inserted another chunk..., took %.3f second" % (t_end-t_start))

inserted another chunk..., took 21.085 second
inserted another chunk..., took 18.628 second
inserted another chunk..., took 19.707 second
inserted another chunk..., took 22.101 second
inserted another chunk..., took 17.301 second
inserted another chunk..., took 19.116 second
inserted another chunk..., took 16.319 second
inserted another chunk..., took 24.593 second
inserted another chunk..., took 18.220 second
inserted another chunk..., took 22.443 second
inserted another chunk..., took 18.751 second
inserted another chunk..., took 18.713 second
inserted another chunk..., took 15.880 second
inserted another chunk..., took 19.159 second
inserted another chunk..., took 17.188 second
inserted another chunk..., took 18.073 second
inserted another chunk..., took 15.889 second
inserted another chunk..., took 18.579 second
inserted another chunk..., took 14.905 second
inserted another chunk..., took 14.403 second
inserted another chunk..., took 14.551 second
inserted another chunk..., took 15.109 second
inserted another chunk..., took 14.922 second
inserted another chunk..., took 15.588 second
inserted another chunk..., took 15.775 second
inserted another chunk..., took 14.982 second
inserted another chunk..., took 15.420 second

/var/folders/82/mk8sg1sn4gv4jdqv40c8vsrm0000gn/T/ipykernel_28099/4203571411.py:4: DtypeWarning: Columns (6) have mixed types. Specify dtype option on import or set low_memory=False.
  df = next(df_iter)

inserted another chunk..., took 14.375 second
inserted another chunk..., took 8.430 second

StopIteration: