In [2]:
import pyspark
from pyspark.sql import SparkSession

spark = SparkSession.builder \
    .master("local[*]") \
    .appName('test') \
    .getOrCreate()

In [29]:
df_green = spark.read.parquet('data/green/*/*')

# From Dataframe to RDD

```
SELECT 
    date_trunc('hour', lpep_pickup_datetime) AS hour, 
    PULocationID AS zone,

    SUM(total_amount) AS amount,
    COUNT(1) AS number_records
FROM
    green
WHERE
    lpep_pickup_datetime >= '2020-01-01 00:00:00'
GROUP BY
    1, 2
```

## SELECT

In [30]:
rdd = df_green \
    .select('lpep_pickup_datetime', 'PULocationID', 'total_amount') \
    .rdd

In [6]:
rdd.take(5)

[Row(lpep_pickup_datetime=datetime.datetime(2019, 12, 18, 15, 52, 30), PULocationID=264, total_amount=4.81),
 Row(lpep_pickup_datetime=datetime.datetime(2020, 1, 1, 0, 45, 58), PULocationID=66, total_amount=24.36),
 Row(lpep_pickup_datetime=datetime.datetime(2020, 1, 1, 0, 41, 38), PULocationID=181, total_amount=15.34),
 Row(lpep_pickup_datetime=datetime.datetime(2020, 1, 1, 0, 52, 46), PULocationID=129, total_amount=25.05),
 Row(lpep_pickup_datetime=datetime.datetime(2020, 1, 1, 0, 19, 57), PULocationID=210, total_amount=11.3)]

In [10]:
rows = rdd.take(10)
row = rows[0]

In [11]:
row

Row(lpep_pickup_datetime=datetime.datetime(2019, 12, 18, 15, 52, 30), PULocationID=264, total_amount=4.81)

## WHERE lpep_pickup_datetime >= '2020-01-01 00:00:00'

In [7]:
from datetime import datetime

In [8]:
start = datetime(year=2020, month=1, day=1)

def filter_outliers(row):
    return row.lpep_pickup_datetime >= start

In [9]:
rdd.filter(filter_outliers).take(1)

[Row(lpep_pickup_datetime=datetime.datetime(2020, 1, 1, 0, 45, 58), PULocationID=66, total_amount=24.36)]

## GROUP BY

1. prepare for mapping
    
    similar to:
```
SELECT 
    date_trunc('hour', lpep_pickup_datetime) AS hour, 
    PULocationID AS zone,

    total_amount,
    1
```
   -> get (key, value) tuples

In [12]:
def prepare_for_grouping(row): 
    hour = row.lpep_pickup_datetime.replace(minute=0, second=0, microsecond=0)
    zone = row.PULocationID
    key = (hour, zone)
    
    amount = row.total_amount
    count = 1
    value = (amount, count)

    return (key, value)

In [15]:
rdd \
    .filter(filter_outliers) \
    .map(prepare_for_grouping) \
    .take(1)

[((datetime.datetime(2020, 1, 1, 0, 0), 66), (24.36, 1))]

2. aggregation

-> do `SUM(total_amount)` and `COUNT(1)`

In [16]:
# we get 2 value tuples from 2 separate records as input
def calculate_revenue(left_value, right_value):
    # tuple unpacking
    left_amount, left_count = left_value
    right_amount, right_count = right_value
    
    output_amount = left_amount + right_amount
    output_count = left_count + right_count
    
    return (output_amount, output_count)

In [17]:
rdd \
    .filter(filter_outliers) \
    .map(prepare_for_grouping) \
    .reduceByKey(calculate_revenue)\
    .take(1)

[((datetime.datetime(2020, 1, 1, 0, 0), 66), (386.75, 18))]

3. format issue: unwrap the output

In [18]:
from collections import namedtuple

In [19]:
RevenueRow = namedtuple('RevenueRow', ['hour', 'zone', 'revenue', 'count'])

In [20]:
def unwrap(row):
    return RevenueRow(
        hour=row[0][0], 
        zone=row[0][1],
        revenue=row[1][0],
        count=row[1][1]
    )

In [22]:
rdd \
    .filter(filter_outliers) \
    .map(prepare_for_grouping) \
    .reduceByKey(calculate_revenue) \
    .map(unwrap) \
    .take(1)

[RevenueRow(hour=datetime.datetime(2020, 1, 1, 0, 0), zone=66, revenue=386.75, count=18)]

# From RDD to Dataframe

In [23]:
from pyspark.sql import types

In [24]:
result_schema = types.StructType([
    types.StructField('hour', types.TimestampType(), True),
    types.StructField('zone', types.IntegerType(), True),
    types.StructField('revenue', types.DoubleType(), True),
    types.StructField('count', types.IntegerType(), True)
])

In [32]:
df_result = rdd \
    .filter(filter_outliers) \
    .map(prepare_for_grouping) \
    .reduceByKey(calculate_revenue) \
    .map(unwrap) \
    .toDF(result_schema)

In [33]:
df_result.write.parquet('tmp/green-revenue')

# mapPartitions

In [34]:
columns = ['VendorID', 'lpep_pickup_datetime', 'PULocationID', 'DOLocationID', 'trip_distance']

duration_rdd = df_green \
    .select(columns) \
    .rdd

In [35]:
import pandas as pd

In [36]:
rows = duration_rdd.take(10)

In [40]:
df = pd.DataFrame(rows, columns=columns)
df

   VendorID lpep_pickup_datetime  PULocationID  DOLocationID  trip_distance
0         2  2019-12-18 15:52:30           264           264           0.00
1         2  2020-01-01 00:45:58            66            65           1.28
2         2  2020-01-01 00:41:38           181           228           2.47
3         1  2020-01-01 00:52:46           129           263           6.30
4         1  2020-01-01 00:19:57           210           150           2.30
5         1  2020-01-01 00:52:33            35            39           3.00
6         2  2020-01-01 00:10:18            25            61           2.77
7         2  2020-01-01 01:03:14           225            89           4.98
8         2  2020-01-01 00:04:11           129           129           0.71
9         2  2020-01-01 00:25:52           129            83           0.80

In [41]:
list(df.itertuples())

[Pandas(Index=0, VendorID=2, lpep_pickup_datetime=Timestamp('2019-12-18 15:52:30'), PULocationID=264, DOLocationID=264, trip_distance=0.0),
 Pandas(Index=1, VendorID=2, lpep_pickup_datetime=Timestamp('2020-01-01 00:45:58'), PULocationID=66, DOLocationID=65, trip_distance=1.28),
 Pandas(Index=2, VendorID=2, lpep_pickup_datetime=Timestamp('2020-01-01 00:41:38'), PULocationID=181, DOLocationID=228, trip_distance=2.47),
 Pandas(Index=3, VendorID=1, lpep_pickup_datetime=Timestamp('2020-01-01 00:52:46'), PULocationID=129, DOLocationID=263, trip_distance=6.3),
 Pandas(Index=4, VendorID=1, lpep_pickup_datetime=Timestamp('2020-01-01 00:19:57'), PULocationID=210, DOLocationID=150, trip_distance=2.3),
 Pandas(Index=5, VendorID=1, lpep_pickup_datetime=Timestamp('2020-01-01 00:52:33'), PULocationID=35, DOLocationID=39, trip_distance=3.0),
 Pandas(Index=6, VendorID=2, lpep_pickup_datetime=Timestamp('2020-01-01 00:10:18'), PULocationID=25, DOLocationID=61, trip_distance=2.77),
 Pandas(Index=7, VendorID=2, lpep_pickup_datetime=Timestamp('2020-01-01 01:03:14'), PULocationID=225, DOLocationID=89, trip_distance=4.98),
 Pandas(Index=8, VendorID=2, lpep_pickup_datetime=Timestamp('2020-01-01 00:04:11'), PULocationID=129, DOLocationID=129, trip_distance=0.71),
 Pandas(Index=9, VendorID=2, lpep_pickup_datetime=Timestamp('2020-01-01 00:25:52'), PULocationID=129, DOLocationID=83, trip_distance=0.8)]

In [42]:
#model = ...

def model_predict(df):
#     y_pred = model.predict(df)
    y_pred = df.trip_distance * 5
    return y_pred

In [43]:
def apply_model_in_batch(rows):
    df = pd.DataFrame(rows, columns=columns)
    predictions = model_predict(df)
    df['predicted_duration'] = predictions

    for row in df.itertuples():
        yield row

In [44]:
df_predicts = duration_rdd \
    .mapPartitions(apply_model_in_batch)\
    .toDF() \
    .drop('Index')

In [45]:
df_predicts.show()

+--------+--------------------+------------+------------+-------------+------------------+
|VendorID|lpep_pickup_datetime|PULocationID|DOLocationID|trip_distance|predicted_duration|
+--------+--------------------+------------+------------+-------------+------------------+
|       2|                  {}|         264|         264|          0.0|               0.0|
|       2|                  {}|          66|          65|         1.28|               6.4|
|       2|                  {}|         181|         228|         2.47|12.350000000000001|
|       1|                  {}|         129|         263|          6.3|              31.5|
|       1|                  {}|         210|         150|          2.3|              11.5|
|       1|                  {}|          35|          39|          3.0|              15.0|
|       2|                  {}|          25|          61|         2.77|             13.85|
|       2|                  {}|         225|          89|         4.98|24.900000000000002|
|       2|                  {}|         129|         129|         0.71|              3.55|
|       2|                  {}|         129|          83|          0.8|               4.0|
|       2|                  {}|          82|         173|         1.52|               7.6|
|       1|                  {}|          74|          69|          3.8|              19.0|
|       2|                  {}|          74|          41|         1.12|5.6000000000000005|
|       2|                  {}|          41|         127|         5.67|             28.35|
|       2|                  {}|           7|         260|         1.86|               9.3|
|       2|                  {}|           7|           7|         1.42|               7.1|
|       2|                  {}|           7|         133|        15.48|              77.4|
|       2|                  {}|         134|          28|         1.15|              5.75|
|       1|                  {}|          89|          39|          2.3|              11.5|
|       1|                  {}|          66|          65|          1.0|               5.0|
+--------+--------------------+------------+------------+-------------+------------------+
only showing top 20 rows

In [46]:
df_predicts.select('predicted_duration').show()

+------------------+
|predicted_duration|
+------------------+
|               0.0|
|               6.4|
|12.350000000000001|
|              31.5|
|              11.5|
|              15.0|
|             13.85|
|24.900000000000002|
|              3.55|
|               4.0|
|               7.6|
|              19.0|
|5.6000000000000005|
|             28.35|
|               9.3|
|               7.1|
|              77.4|
|              5.75|
|              11.5|
|               5.0|
+------------------+
only showing top 20 rows