In [1]:
import pyspark
from pyspark.sql import SparkSession

spark = SparkSession.builder \
    .master("local[*]") \
    .appName('test') \
    .getOrCreate()

25/03/08 21:32:07 WARN Utils: Your hostname, LmhandeMacBook-Pro-2.local resolves to a loopback address: 127.0.0.1; using 192.168.0.134 instead (on interface en0)
25/03/08 21:32:07 WARN Utils: Set SPARK_LOCAL_IP if you need to bind to another address
Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).
25/03/08 21:32:07 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable
25/03/08 21:32:08 WARN Utils: Service 'SparkUI' could not bind on port 4040. Attempting port 4041.
25/03/08 21:32:08 WARN Utils: Service 'SparkUI' could not bind on port 4041. Attempting port 4042.
25/03/08 21:32:08 WARN Utils: Service 'SparkUI' could not bind on port 4042. Attempting port 4043.
25/03/08 21:32:08 WARN Utils: Service 'SparkUI' could not bind on port 4043. Attempting port 4044.
25/03/08 21:32:08 WARN Utils: Service 'SparkUI' could not bind on port 4044. Attempting port 4045.

# Q1

In [3]:
spark.version

'3.5.5'

# Q2

In [12]:
df_data = spark.read.parquet('yellow_tripdata_2024-10.parquet')

In [13]:
df_data = df_data.repartition(4)

In [7]:
df_data.write.parquet('pq/')

In [14]:
df_data.printSchema()

root
 |-- VendorID: integer (nullable = true)
 |-- tpep_pickup_datetime: timestamp_ntz (nullable = true)
 |-- tpep_dropoff_datetime: timestamp_ntz (nullable = true)
 |-- passenger_count: long (nullable = true)
 |-- trip_distance: double (nullable = true)
 |-- RatecodeID: long (nullable = true)
 |-- store_and_fwd_flag: string (nullable = true)
 |-- PULocationID: integer (nullable = true)
 |-- DOLocationID: integer (nullable = true)
 |-- payment_type: long (nullable = true)
 |-- fare_amount: double (nullable = true)
 |-- extra: double (nullable = true)
 |-- mta_tax: double (nullable = true)
 |-- tip_amount: double (nullable = true)
 |-- tolls_amount: double (nullable = true)
 |-- improvement_surcharge: double (nullable = true)
 |-- total_amount: double (nullable = true)
 |-- congestion_surcharge: double (nullable = true)
 |-- Airport_fee: double (nullable = true)

In [15]:
df_data.head()

Row(VendorID=1, tpep_pickup_datetime=datetime.datetime(2024, 10, 7, 16, 40, 43), tpep_dropoff_datetime=datetime.datetime(2024, 10, 7, 18, 10, 56), passenger_count=1, trip_distance=14.8, RatecodeID=99, store_and_fwd_flag='N', PULocationID=127, DOLocationID=225, payment_type=1, fare_amount=47.5, extra=0.0, mta_tax=0.5, tip_amount=0.0, tolls_amount=6.94, improvement_surcharge=0.0, total_amount=54.94, congestion_surcharge=0.0, Airport_fee=0.0)

# Q3

In [16]:
df_data.createOrReplaceTempView('df')

In [52]:
# test1
spark.sql(
"""
SELECT COUNT(*),
date_trunc("day", tpep_pickup_datetime) AS date
FROM df
GROUP BY date
HAVING date = "2024-10-15"
""").show()

+--------+-------------------+
|count(1)|               date|
+--------+-------------------+
|  128893|2024-10-15 00:00:00|
+--------+-------------------+

In [53]:
# test2
spark.sql(
"""
SELECT COUNT(1)
FROM df
WHERE date_trunc("day", tpep_pickup_datetime) = "2024-10-15"
""").show()

+--------+
|count(1)|
+--------+
|  128893|
+--------+

# Q4

In [25]:
# test1: note the order of dropoff_hour & pickup_hour
spark.sql(
"""
SELECT
date_trunc("hour", tpep_pickup_datetime) AS pickup_hour,
date_trunc("hour", tpep_dropoff_datetime) AS dropoff_hour,
DATEDIFF(hour, dropoff_hour, pickup_hour) AS diff
FROM df
ORDER BY diff DESC 
LIMIT 1
""").show()

+-------------------+-------------------+----+
|        pickup_hour|       dropoff_hour|diff|
+-------------------+-------------------+----+
|2024-10-11 23:00:00|2024-10-11 00:00:00|  23|
+-------------------+-------------------+----+

In [32]:
# test2
spark.sql(
"""
SELECT
date_trunc("hour", tpep_pickup_datetime) AS pickup_hour,
date_trunc("hour", tpep_dropoff_datetime) AS dropoff_hour,
DATEDIFF(hour, pickup_hour, dropoff_hour) AS hour_diff
FROM df
ORDER BY hour_diff DESC 
LIMIT 3
""").show()

+-------------------+-------------------+---------+
|        pickup_hour|       dropoff_hour|hour_diff|
+-------------------+-------------------+---------+
|2024-10-16 13:00:00|2024-10-23 07:00:00|      162|
|2024-10-03 18:00:00|2024-10-09 18:00:00|      144|
|2024-10-22 16:00:00|2024-10-28 09:00:00|      137|
+-------------------+-------------------+---------+

# Q6

In [44]:
df_zones = spark.read \
    .option("header", "true") \
    .csv('taxi_zone_lookup.csv')

In [45]:
df_zones.createOrReplaceTempView('zones')

In [47]:
df_zones.show()

+----------+-------------+--------------------+------------+
|LocationID|      Borough|                Zone|service_zone|
+----------+-------------+--------------------+------------+
|         1|          EWR|      Newark Airport|         EWR|
|         2|       Queens|         Jamaica Bay|   Boro Zone|
|         3|        Bronx|Allerton/Pelham G...|   Boro Zone|
|         4|    Manhattan|       Alphabet City| Yellow Zone|
|         5|Staten Island|       Arden Heights|   Boro Zone|
|         6|Staten Island|Arrochar/Fort Wad...|   Boro Zone|
|         7|       Queens|             Astoria|   Boro Zone|
|         8|       Queens|        Astoria Park|   Boro Zone|
|         9|       Queens|          Auburndale|   Boro Zone|
|        10|       Queens|        Baisley Park|   Boro Zone|
|        11|     Brooklyn|          Bath Beach|   Boro Zone|
|        12|    Manhattan|        Battery Park| Yellow Zone|
|        13|    Manhattan|   Battery Park City| Yellow Zone|
|        14|     Brooklyn|           Bay Ridge|   Boro Zone|
|        15|       Queens|Bay Terrace/Fort ...|   Boro Zone|
|        16|       Queens|             Bayside|   Boro Zone|
|        17|     Brooklyn|             Bedford|   Boro Zone|
|        18|        Bronx|        Bedford Park|   Boro Zone|
|        19|       Queens|           Bellerose|   Boro Zone|
|        20|        Bronx|             Belmont|   Boro Zone|
+----------+-------------+--------------------+------------+
only showing top 20 rows

In [50]:
spark.sql(
"""
SELECT COUNT(*), zones.Zone 
FROM df
JOIN zones on df.PULocationID = zones.LocationID
GROUP BY zones.Zone 
ORDER BY COUNT(*) ASC
LIMIT 3
""").show()

+--------+--------------------+
|count(1)|                Zone|
+--------+--------------------+
|       1|Governor's Island...|
|       2|       Rikers Island|
|       2|       Arden Heights|
+--------+--------------------+